---
import Layout from "../layouts/Layout.astro";

import Home from "../components/Home.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Portfolio Francisco Angulo - Desarrollador y Programador.">
  <main class="px-4 bg-slate-500 h-screen">
    <Home />
  </main>
  <Contact />
</Layout>
