---

---

<header>
  <nav class="border border-red-300 m-8">
    <ul class="flex justify-between">
      <li>Logo</li>
      <li>acerca de mi</li>
      <li>experiencia</li>
      <li>sandbox</li>
    </ul>
  </nav>
</header>
