---

---

<header>
  <nav class="border border-red-300 m-8 rounded-2xl px-8 p-3">
    <ul class="flex justify-between">
      <li>Logo</li>
      <li>acerca de mi</li>
      <li>experiencia</li>
      <li>sandbox</li>
      <li></li>
    </ul>
  </nav>
</header>
